@mixin flexCenter(){
    display: flex;
    align-items: center;  
    justify-content: center;
}

@mixin flexBetween(){
    display: flex;
    align-items: center;  
    justify-content: space-between;
}