@import '../../assets/scss/_functions.scss';

#enterprises{
    @include flexCenter();
    margin: 3rem 0;
    .enterprises-result{
        padding: 2rem;

        cursor: pointer;
        border-radius: 5px;
        background: #ffffff;
        .row{
            display: flex;
            align-items: center;
        }
        .photo{
            max-width: 100%;
            max-height: 100%;
        }
        h2{
            margin: 1rem 0 0 0;
            font-size: 1.5rem;
        }
        p.country{
            font-size: 0.8rem;   
        }
        p{
            margin-bottom: 0;
            color: #8d8c8c;
        }
    }
}

#enterprise{
    margin: 2rem 0;
    text-align: center;
    .enterprise-single{
        padding: 2rem;
        background: #fff;
    }
    h2{
        font-size: 1.5rem;
    }
    .photo{
        margin: 2rem 0;
        max-width: 100%;
    }
}