@import '../../assets/scss/_functions.scss';

#search{
    @include flexCenter();
    padding: 1rem 0;
    height: 130px;

    background: linear-gradient(180deg, #ee4c77, #9f2646);
    form{
        .form-field{
            @include flexBetween();
            img{
                width: 150px;
            }
            .material-icons{
                margin: 0 2rem;
                cursor: pointer;
            }
            .field{
                padding: 0.5rem 2rem;
                width: 100%;

                background: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                color: #fff;    
                &::placeholder{
                    color: #4a0019;
                }  
                &:focus{
                    outline: 0;
                }
            }
        }
    }
}

.error{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}

#home{
    @include flexCenter();
    height: 100vh;
    text-align: center;
    h2{
        font-weight: 300;
    }
}
