@import '../../assets/scss/_functions.scss';

#login{
    @include flexCenter();
    height: 100vh;
    .login-area{
        @include flexCenter();
        text-align: center;
        .logomarca{
            max-width: 285px;
        }
        h1{
            padding: 2rem 0;

            text-transform: uppercase;
            font-size: 2rem;
        }
        form{
            margin-top: 2rem;
            .form-fields input{
                margin-bottom: 1rem;
                padding: 0.8rem;
                width: 100%;

                background: transparent;
                border: none;
                border-bottom: 1px solid #383743;
                &:focus{
                    outline: 0;
                    border-bottom: 1px solid #ee4c77;
                }
            }
            .submit{
                padding: 0.8rem;
                width: 100%;

                text-transform: uppercase;
                font-weight: bold;

                color: #fff;
                background: #57bbbc;
                border-radius: 5px;
                border: none;   
                &:hover{
                    background: #62d3d4;
                }
            }
        }
    }
}